<header class="header-section">
	<div class="top-right-header">
		<a href="#">
			<img src="assets/images/small-phone-icon.png" alt="phone" class="phone-icon">
			<span class="phone-number">+971 4 365 7222</span>
		</a>
		<a href="#">
			<img src="assets/images/small-msg-icon.png" alt="email" class="email-icon">
			<span class="email-id">info@lannhill.com</span>
		</a>
		<span class="country">UAE
			<img src="assets/images/uae-flag-icon.png" alt="uae" class="uae-icon">
			<span class="glyphicon glyphicon-chevron-down"></span>
		</span>
	</div>
	<div class="clear"></div>
	<div class="header-main-menu">
		<div class="left-menu">
			<ul class="left-menu-list">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Property Sales</a></li>
				<li><a href="#">Property Rentals</a></li>
			</ul>
		</div>
		<div class="right-menu">
			<ul class="right-menu-list">
				<li><a href="#">Property Management</a></li>
				<li><a href="#">New Projects</a></li>
				<li><a href="#">Useful Guides</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
	<div class="header-logo">
		<img src="assets/images/logo.png" class="logo-img" alt="LannHill">
	</div>
</header>