<div class="home-content">
	<div class="bg-1"></div>
	<div class="bg-1-content">
		<h2>EXPERT ADVICE & EXCEPTIONAL SERVICE</h2>
		<div class="options-1 black-bg">
			<a href="#"> Buy </a>
			<span> | </span>
			<a href="#"> Rent </a>
		</div>
		<div class="options-2 black-bg">
			<div class="search-box">
				<i class="glyphicon glyphicon-search"></i>
				<input type="text" name="search-property" placeholder="Location or Building - e.g. Dubai Marina" class="search-property search-input">
			</div>
			<div class="select-box">
				<select class="select-option bd" ng-model="bedroomNum">
					<option value="" disabled selected hidden>Bedrooms</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
			</div>
			<div class="select-box">
				<select class="select-option budget" ng-model="budget">
					<option value="" disabled selected hidden>Budget</option>
					<option value="1">1,000,000 - 2,000,000 AED</option>
					<option value="2">2,000,000 - 3,000,000 AED</option>
					<option value="3">3,000,000 - 4,000,000 AED</option>
					<option value="4">3,000,000 - 5,000,000 AED</option>
				</select>
			</div>
			<button class="btn save-search-btn">SEARCH</button>
		</div>
		<span class="small-font float-left">Do you wish to Sell or Let a Property?</span>
		<div class="options-3 black-bg float-left">
			<a href="#"> Draw Search </a>
			<span> | </span>
			<a href="#"> + Advanced </a>
		</div>
		<span class="small-font float-right">Clear</span>
	</div>
	<div class="mouse-icon"></div>

	<!-- <div class="home-section-2">
		<div class="content">
			<h2> WHY CHOOSE LANNHILL? </h2>
			<h4>We believe expert advice and bespoke service enables us to build long lasting and trusting partnerships with our clients. We're passionate about delivering an exceptional customer experience for every client</h4>
		</div>
	</div> -->
</div>